<!-- NAV -->
<nav style="margin-bottom: 0" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- need to be fixed - nav does not collapse -->
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = false"
                    ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">PI Web API</span>

            <ul class="nav navbar-nav">
                <li><a  href="/configuration">Configuration</a></li>
                <li><a  href="/data-validation">Data Validation</a></li>
                <li ng-cloak uib-dropdown>
                    <a href="#" uib-dropdown-toggle>Basic Samples<b class="caret"></b></a>
                    <ul uib-dropdown-menu="menu">
                        <li><a  href="/oops">Search tags</a></li>
                        <li><a href="/oops">Retrieve single values</a></li>
                        <li><a  href="/oops">Retrieve time series data</a></li>
                        <li><a  href="/oops">Charts</a></li>
                    </ul>
                </li>
                <!--<li ng-cloak uib-dropdown>
                    <a href="#" uib-dropdown-toggle>PI Assets(AF)<b class="caret"></b></a>
                    <ul uib-dropdown-menu="menu">
                        <li><a href="#">Search Assets</a></li>
                        <li><a href="#">Retrieve single values</a></li>
                        <li><a href="#">Retrieve time series data</a></li>
                    </ul>
                </li>-->
               
                 <!--Messages-->
                <li role="presentation"><a ng-click="openMessages()" href="#">Messages <span class="badge">{{globals.alerts.length}}</span></a></li>
                <!--Search-->
                <li>
                    <div class="pull-right hidden-xs">
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="PI Web API Search"/>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </li>
                <li>
                   <!-- <div ng-cloak ng-show="globals.loading>0" style="position: absolute; left: 5em; top: 0.8em" class="loader">Loading...</div></li>-->
                    <div ng-cloak ng-show="globals.loading>0" >
                        <img src="/assets/img/ring-alt.gif" style="width:2.2em ; padding-top: 0.8em;padding-left: 0.3em"/>
                    </div></li>
            </ul>
        </div>

    </div>
</nav>