
<div class="section-header">
    <div class="container">
        <h1>Connection information</h1>
        <p>Below is the information returned about the current connection with the PI Web API</p>
    </div>
</div>


<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading"><b>PI Web API Connection Info</b></div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr ng-repeat="(key, value) in userInfo">
                    <td><b>{{key}}</b></td>
                    <td>{{value}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


