<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Data validation</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="bs-callout bs-callout-info">
                        <h4>Overview</h4>
                        <p>This is an example that demonstrates how to create data validation with the usage of PI WEB API.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-controller="dataValidationCtrl as ctrl">


            <div style="margin-top: 2em" class="panel panel-default ">
                <div ng-init="confIsCollapsed=true" ng-click="confIsCollapsed = !confIsCollapsed" class="panel-heading">
                    <a href="" class="collapsed"><label>Configuration</label></a>
                </div>

                <div style="padding: 5px" uib-collapse="confIsCollapsed">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Path to element</label>
                            <input type="text" class="form-control" ng-model="ctrl.$localStorage.dataValidation.elementPath"/>
                        </div>
                        <div class="col-md-6">
                            <label>Optional - Attribute Category to filter</label>
                            <input type="text" class="form-control" ng-model="ctrl.$localStorage.dataValidation.attributeCategory"/>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <button ng-click="ctrl.reloadAttributes()" type="button" class="btn btn-danger" style="margin-top: 23px">Load Attributes</button>
                        </div>
                    </div>

                </div>


            </div>

            <div style="margin-top: 2em" class="panel panel-default ">


                <div ng-init="queryIsCollapsed=false" ng-click="queryIsCollapsed = !queryIsCollapsed" class="panel-heading">
                    <a href="" class="collapsed"><label>Select Date and Attributes</label></a>
                </div>
                <div style="padding: 5px" class="row" uib-collapse="queryIsCollapsed">
                    <div class="col-md-2">

                        <label>Date</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="ctrl.selectedTime" is-open="popup1.opened" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>

                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" uib-dropdown is-open="true">
                            <label>Select Attribute</label>
                            <!--<div ng-model="ctrl.selectedAttribute" class="button-group">
                                <button id="single-button" type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li ng-repeat="attribute in ctrl.attributes">1324<a href="#" class="small" data-value="{{attribute.Name}}" tabIndex="-1"><input type="checkbox"/>&nbsp;{{attribute.Name}}</a></li>
                                </ul>
                            </div>-->

                            <div ng-model="ctrl.selectedAttributes" class="btn-group" uib-dropdown auto-close="outsideClick"  is-open="status.isopen">
                                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                    Attributes <span class="caret"></span>
                                </button>

                                <ul style="padding: 0.5em" class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li role="menuitemcheckbox" ng-repeat="attribute in ctrl.attributes">
                                        <input type="checkbox"/>&nbsp;{{attribute.Name}}
                                    </li>
                                </ul>

                            </div>
                            <!-- <select name="attributes" ng-model="ctrl.selectedAttribute" class="editable-input form-control input-sm" required>-->
                            <!--<option ng-repeat="attribute in ctrl.attributes" value="{{attribute.Name}}">{{attribute.Name}}</option>-->
                            <!--</select><br>-->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button ng-click="ctrl.reloadData()" type="button" class="btn btn-danger" style="margin-top: 23px">Get Data</button>
                    </div>

                </div>
            </div>

                <div style="margin-top: 2em" class="panel panel-default">
                    <div class="panel-heading"><b>Data to validate - {{ctrl.attributeName}}</b>
                    </div>
                    <table ng-table="ctrl.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="ctrl.tableForm" disable-filter="ctrl.isAdding" tracked-table="ctrl.tableTracker">

                        <!-- $data is maintained by ng-table itself, it is populated by the getData() call -->
                        <tr ng-repeat="row in $data" ng-form="rowForm" tracked-table-row="row">

                            <!-- TIME -->
                            <td title="'Time'" sortable="'time'" ng-switch="0" ng-class="time.$dirty ? 'bg-warning' : ''" ng-form="time" tracked-table-cell>
                                <span ng-switch-default class="editable-text">{{row.time}}</span>
                                <div class="controls" ng-class="time.$invalid && time.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                    <input type="datetime-local" name="time" ng-model="row.time" class="editable-input form-control input-sm" required/>
                                </div>
                            </td>


                            <td title="'Value'" sortable="'value'" ng-switch="0" ng-class="value.$dirty ? 'bg-warning' : ''" ng-form="value" tracked-table-cell>
                                <span ng-switch-default class="editable-text">{{row.value}}</span>
                                <div class="controls" ng-class="value.$invalid && value.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                    <input type="number" name="value" ng-model="row.value" class="editable-input form-control input-sm" required/>
                                </div>
                            </td>
                            <td title="'Flag'" sortable="'flag'" ng-switch="row.isEditing" ng-class="flag.$dirty ? 'bg-warning' : ''" ng-form="flag" tracked-table-cell>
                                <span ng-switch-default class="editable-text">{{row.flag}}</span>
                                <div class="controls" ng-class="flag.$invalid && flag.$dirty ? 'has-error' : ''" ng-switch-when="true">
                                    <!-- <input type="text" name="flag" ng-model="row.flag" class="editable-input form-control input-sm" required/>-->
                                    <select name="flag" ng-model="row.flag" class="editable-input form-control input-sm" required>
                                        <option ng-repeat="flag in ctrl.dataEntryFlags" value="{{flag}}">{{flag}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" ng-click="ctrl.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                                <button class="btn btn-default btn-sm" ng-click="ctrl.cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                                <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>

                                <!-- delete button -->
                                <!--<button class="btn btn-danger btn-sm" ng-click="ctrl.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>-->
                            </td>
                        </tr>
                    </table>

                </div>

            </div>
    </div>

</div>




