<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">Data validation</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="bs-callout bs-callout-info">
                        <h4>Overview</h4>
                        <p>This is an example that demonstrates how to create data validation with the usage of PI WEB API.</p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" ng-controller="demoController as demo">

            <div class="row">
                <div class="col-md-4">
                    <label>Start Time</label>
                    <input type="datetime-local" name="st" ng-model="demo.startTime" class="editable-input form-control input-sm" required/>
                    <br/>
                    <label>End Time</label>
                    <input type="datetime-local" name="et" ng-model="demo.endTime" class="editable-input form-control input-sm" required/>
                </div>
                <div class="col-md-3">
                    
                    <button ng-click="demo.reloadData()" type="button" class="btn btn-danger" style="margin-top: 20px">Get Data</button>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6"></div>
            </div>


            <h3>Data</h3>
            <table ng-table="demo.tableParams" class="table table-bordered table-hover table-condensed editable-table demoTable" ng-form="demo.tableForm" disable-filter="demo.isAdding" demo-tracked-table="demo.tableTracker">
                <colgroup>
                    <col width="10%"/>
                    <col width="30%"/>
                    <col width="10%"/>
                    <col width="15%"/>
                </colgroup>
                <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                    <td title="'Time'" filter="{time: 'text'}" sortable="'time'" ng-switch="0" ng-class="time.$dirty ? 'bg-warning' : ''" ng-form="time" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.time}}</span>
                        <div class="controls" ng-class="time.$invalid && time.$dirty ? 'has-error' : ''" ng-switch-when="true">
                            <input type="datetime-local" name="time" ng-model="row.time" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td title="'Value'" filter="{value: 'number'}" sortable="'value'" ng-switch="0" ng-class="value.$dirty ? 'bg-warning' : ''" ng-form="value" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.value}}</span>
                        <div class="controls" ng-class="value.$invalid && value.$dirty ? 'has-error' : ''" ng-switch-when="true">
                            <input type="number" name="value" ng-model="row.value" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td title="'Flag'" filter="{flag: 'text'}" sortable="'flag'" ng-switch="row.isEditing" ng-class="flag.$dirty ? 'bg-warning' : ''" ng-form="flag" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.flag}}</span>
                        <div class="controls" ng-class="flag.$invalid && flag.$dirty ? 'has-error' : ''" ng-switch-when="true">
                            <input type="text" name="flag" ng-model="row.flag" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="demo.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="demo.cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="demo.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
            
        </div>
     
    </div>


            <!--<h3>ngTable directive</h3>
            <div class="brn-group pull-right">
                <button class="btn btn-default" ng-if="isEditing" ng-click="cancelChanges()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-primary" ng-if="!isEditing" ng-click="isEditing = true">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-primary" ng-if="isEditing" ng-disabled="!hasChanges() || tableTracker.$invalid" ng-click="saveChanges()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button class="btn btn-default" ng-click="add()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <table ng-table="tableParams" class="table table-bordered table-hover table-condensed editable-table" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">
                <colgroup>
                    <col width="70%"/>
                    <col width="12%"/>
                    <col width="13%"/>
                    <col width="5%"/>
                </colgroup>
                <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                    <td title="'Name'" filter="{name: 'text'}" sortable="'name'" ng-switch="isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.name}}</span>
                        <div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
                            <input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td title="'Age'" filter="{age: 'number'}" sortable="'age'" ng-switch="isEditing" ng-class="age.$dirty ? 'bg-warning' : ''" ng-form="age" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.age}}</span>
                        <div class="controls" ng-class="age.$invalid && age.$dirty ? 'has-error' : ''" ng-switch-when="true">
                            <input type="number" name="age" ng-model="row.age" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td title="'Money'" filter="{money: 'number'}" sortable="'money'" ng-switch="isEditing" ng-class="money.$dirty ? 'bg-warning' : ''" ng-form="money" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.money}}</span>
                        <div class="controls" ng-class="money.$invalid && money.$dirty ? 'has-error' : ''" ng-switch-when="true">
                            <input type="number" name="money" ng-model="row.money" class="editable-input form-control input-sm" required/>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="del(row)" ng-disabled="!isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>-->
        </div>
        
    </div>

